<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,900i" 
	rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{{ url_for ('static', filename='img/favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/login.css') }}">
	<meta name="google-signin-client_id" content="1081427696778-7vhrcf5mt0l1thk1bu283n3cloh0buo6.apps.googleusercontent.com">
	<title>Welcome</title>
</head>

<body>
	<div class="welcome">	
		<img id="logo" src="{{ url_for ('static', filename='img/logo.png') }}">
		<div id="welcome_message">
			<span>Welcome to DashPi! Let's get started</span>
		</div>
		<div id="my-signin2"></div>
	</div>
	<script>
		function onSuccess(googleUser) {
			console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
			var id_token = googleUser.getAuthResponse().id_token;

		}
		function onFailure(error) {
			console.log(error);
		}
		function renderButton() {
			gapi.signin2.render('my-signin2', {
				'scope': 'profile email https://www.googleapis.com/auth/calendar.readonly' +
					'https://www.googleapis.com/auth/gmail.readonly',
				'height': 50,
				'width' : 240,
				'longtitle': true,
				'theme': 'dark',
				'onsuccess': onSuccess,
				'onfailure': onFailure
			});
		}
	</script>
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</body>
</html>